.paneMainLeft{
    -fx-background-color: #1565c0;
}

.modalBackground{
    -fx-background-color: #cfd8dc;
}

.buttonMainPanel{
    -fx-background-color: #1565c0;
}

.buttonMainPanel:hover{
    -fx-background-color: #42a5f5;
    -fx-text-fill: #000000;
}

.buttonMainPanel:focused{
     -fx-background-color: #42a5f5;
}

.buttonExit{
    -fx-background-color: transparent;
}

.buttonExit:hover{
    -fx-background-color: white;
}

.topInnerBar{
    -fx-background-color: #42a5f5;

}

.topInnerLabel{
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
}

.topInnerLabelBlack{
    -fx-text-fill: #000000;
    -fx-font-size: 20;
}

.buttonsInnerPanel{
    -fx-background-color: #6ec6ff;
}

.buttonInnerTop{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}

.buttonInnerTop:hover{
    -fx-background-color: #007ac1;
}

.buttonInnerDelete{
    -fx-background-color:   #d32f2f;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
}

.buttonInnerDelete:hover{
    -fx-background-color: #ff6659;
    -fx-text-fill: #000000;
}

.buttonInnerEdit{
    -fx-background-color:   #ffa000;
    -fx-font-size: 15;
    -fx-text-fill: #ffffff;
}

.buttonInnerEdit:hover{
    -fx-background-color: #ffd149;
    -fx-text-fill: #000000;
}

.labelInner{
    -fx-text-fill: #ffffff;
    -fx-font-size: 15;
}

.labelInnerBlack{
    -fx-text-fill: #000000;
    -fx-font-size: 15;
}

.buttonDay{
    -fx-background-color: #ffffff;
    -fx-font-size: 8;
}

.buttonDay:hover{
    -fx-background-color: #ffcc80;
}

.buttonChecked{
     -fx-background-color: #ffca28;
     -fx-font-size: 8;
 }

 .buttonChecked:hover{
     -fx-background-color: #ffe082;
 }

.buttonBooked{
     -fx-background-color: #8bc34a;
     -fx-font-size: 8;
 }

 .buttonBooked:hover{
     -fx-background-color: #bef67a;
 }
